<main>
    <form>
        <label for="coach.firstName"></label>
        <input type="text" name="coach.firstName" id="coach.firstName" [(ngModel)]="coach.firstName">

        <label for="coach.lastName"></label>
        <input type="text" name="coach.lastName" id="coach.lastName" [(ngModel)]="coach.lastName">

        <label for="coach.age"></label>
        <input type="number" name="coach.age" id="coach.age" [(ngModel)]="coach.age">

        <label for="coach.role"></label>
        <select name="coach.role" id="coach.role" [(ngModel)]="coach.role">
            <option value="" selected="selected">roles...</option>
            <option value="Head">Head</option>
            <option value="Assistant">Assistant</option>
        </select>
    </form>

    <span>{{coach.teamname}}</span>

    <button type="button" (click)="transferCoach()">Transfer</button>
    <button type="button" (click)="updateCoach()">Update</button>
    <button type="button" (click)="resetCoach()">Reset</button>
    <button type="button" (click)="deleteCoach()">Delete</button>
</main>
