input{
    width: 100px;
    height: 18px;
}

form{
    display: inline-block;
}

select{
    width:107.75px;
    height:23.25px;
    vertical-align: top;
}

span{
    padding:0px;
    margin:0px;
    height:21.5px;
    border-style: solid;
    border-width: .25px;
    font-size: 15px;
    display: inline-block;
    width: 104.5px;
    vertical-align: top;
}
