<main>
    <label for="teamSelected"></label>
    <select name="teamSelected" (click)="teamList()" id="teamSelected" [(ngModel)]="teamSelected">
        <option value="" selected="selected">teams...</option>
        @for(team of teamNames; track $index){
            <option value={{team}}>{{team}}</option>
        }
    </select>

    <div>
        @for(player of players; track $index){
            @if(player.teamname === teamSelected){
                <app-player [player]="player"
                            (updatePlayerEvent)="updatePlayer($index, $event)"></app-player>
            }
        }
    </div>
    <a routerLink="new_player"> Add Player </a>
</main>

