<main>
    <label for="teamSelected"></label>
    <select name="teamSelected" id="teamSelected" [(ngModel)]="teamSelected">
        <option value="" selected="selected">Teams...</option>
        @for(team of teamNames; track $index){
            <option value={{team}}>{{team}}</option>
        }
    </select>
    <form>
        <label for="firstName">First Name</label>
        <label for="lastName">Last Name</label>
        <label for="age">Age</label>
        <label for="position">Position</label>
        <label for="team">Team</label>
    </form>
    <div>
        @for(player of players; track $index){
            @if(player.teamname === teamSelected){
                <app-player [player]="player"
                            (updatePlayerEvent)="updatePlayer($index, $event)"
                            (deletePlayerEvent)="deletePlayer($index)"
                            (resetPlayerEvent)="resetPlayer()"></app-player>
            }
        }
    </div>
    <a routerLink="new_player"> Add Player </a>

    @if(updateError1){
        <p class="error">*Couldn't find player in db, contact IT support</p>
    }
    @if(updateError2){
        <p class="error">*You can't change this players name to one that already exists</p>
    }
</main>

