<main>
    <label for="teamSelected"></label>
    <select name="teamSelected" id="teamSelected" [(ngModel)]="teamSelected">
        <option value="" selected="selected">Teams...</option>
        @for(team of teamList; track $index){
            <option value={{team.teamName}}>{{team.teamName}}</option>
        }
    </select>

    <div>
        @for(player of players; track $index){
            @if(player.teamname === teamSelected){
                <app-player [player]="player"
                            [teamList]="teamList"
                            (updatePlayerEvent)="updatePlayer($index, $event)"
                            (deletePlayerEvent)="deletePlayer($index)"
                            (resetPlayerEvent)="resetPlayer()"></app-player>
            }
        }
    </div>
    <a routerLink="new_player"> Add Player </a>
</main>

