a{
    background-color: rgb(53, 124, 186);
    color:rgb(255, 255, 255);
    border-radius: 2px;
    padding: 3px;
    margin: 10px 0px 2px 2px;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    background-color: rgb(18, 98, 167);
    border: 2px;
    border-style: solid;
    border-color: black;
}

form>label{
    width: 105.5px;
    height: 17.75px;
    display: inline-block;
    border: solid;
    border-width: .5px;
    text-align: center;
}

.error{
    font-size: 18px;
    font-weight: bold;
    color:red;
}