footer{
    text-align: center;
    background-color: rgb(168, 168, 253);
    font-size: 20px;
    font-style: italic;
    padding: 20px 0px 20px 0px;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 10px;
}