<main>
    <form>
        <label for="team.id"></label>
        <input type="number" name="team.id" id="team.id" [(ngModel)]="team.id">

        <label for="team.teamName"></label>
        <input type="text" name="team.teamName" id="team.teamName" [(ngModel)]="team.teamName">

        <label for="team.numPlayers"></label>
        <input type="number" name="team.numPlayers" id="team.numPlayers" [(ngModel)]="team.numPlayers">

        <label for="team.headCoach"></label>
        <input type="number" name="team.headCoach" id="team.headCoach" [(ngModel)]="team.headCoach">

        <!-- <label for="coaches"></label>
        <select name="coaches" id="coaches">
            <option value="" selected="selected">Coaches...</option>
            @for(coach of team.coaches; track $index){
                <option value="coach">{{coach}}</option>

            }
        </select>

        <label for="players"></label>
        <select name="players" id="players">
            <option value="" selected="selected">Players...</option>
            @for(player of team.players; track $index){
                <option value="player">{{player}}</option>

            }
        </select> -->
    </form>

    <button type="button" (click)="updateTeam()">Update</button>
    <!--<button type="button" (click)="resetCoach()">Reset</button>
    <button type="button" (click)="deleteCoach()">Delete</button> -->
</main>