<main>
    <form>
        <label for="team.teamName"></label>
        <input type="text" name="team.teamName" id="team.teamName" [(ngModel)]="team.teamName">

        <label for="team.numPlayers"></label>
        <input type="number" name="team.numPlayers" id="team.numPlayers" [(ngModel)]="team.numPlayers">


        <label for="team.headCoach"></label>
        <select name="team.headCoach" id="team.headCoach" [(ngModel)]="team.headCoach">
            <option value="{{team.headCoach}}" selected="selected">{{team.headCoach}}</option>
            @for(coach of team.coaches; track $index){
                <option value="{{coach.firstName}} {{coach.lastName}}">{{coach.firstName}} {{coach.lastName}}</option>
            }
        </select>

        <label for="team.players"></label>
        <select name="team.players" id="team.players">
            <option value="" selected="selected">Players...</option>
            @for(player of team.players; track $index){
                <option value="{{player.firstName}} {{player.lastName}}">{{player.firstName}} {{player.lastName}}</option>
            }
        </select>

        <label for="team.coaches"></label>
        <select name="team.coaches" id="team.coaches">
            <option value="" selected="selected">Coaches...</option>
            @for(coach of team.coaches; track $index){
                <option value="{{coach.firstName}} {{coach.lastName}}">{{coach.firstName}} {{coach.lastName}}</option>
            }
        </select>
    </form>

    <button type="button" (click)="updateTeam()">Update</button>
    <button type="button" (click)="resetTeam()">Reset</button>
    <button type="button" (click)="deleteTeam()">Delete</button>
</main>