<main>
    <article>
        <div class="left">
            <p class="title">Current Team:</p>
            @if(player.teamname){
                <p>{{player.teamname}}</p>
            }
            @else{
                <p>NA</p>
            }
            <p class="subtitle">Old Team's Current Composition:</p>
            <form>
                <label for="oldTeam.players"></label>
                <select name="oldTeam.players" id="oldTeam.players">
                    <option value="">Players...</option>
                    @for(player of oldTeam.players; track $index){
                        <option value="{{player.firstName}} {{player.lastName}}">{{player.firstName}} {{player.lastName}}</option>
                    }
                </select>

                <label for="oldTeam.coaches"></label>
                <select name="oldTeam.coaches" id="oldTeam.coaches">
                    <option value="">Coaches...</option>
                    @for(coach of oldTeam.coaches; track $index){
                        <option value="{{coach.firstName}} {{coach.lastName}}">{{coach.firstName}} {{coach.lastName}}</option>
                    }
                </select>
            </form>
            <p class="staticSection">Player to Transfer: </p>
            <p>Name: {{player.firstName}} {{player.lastName}}</p>
            <p>Age: {{player.age}}</p>
            <p>Position: {{player.position}}</p>
        </div>


        <div class="right">
            <p class="title">New Team: </p>
            <form class="sudoP">
                <label for="selectedTeam.teamName"></label>
                <select name="selectedTeam.teamName" id="selectedTeam.teamName" [(ngModel)]="selectedTeam.teamName" (change)="getNewTeam()">
                    <option value="" selected="selected">Teams...</option>
                    @for(team of teamList; track $index){
                        @if(team.teamName !== oldTeam.teamName){
                            <option value="{{team.teamName}}">{{team.teamName}}</option>
                        }
                    }
                </select>
            </form>

            <p class="subtitle">New Team's Current Composition:</p>
            <form>
                <label for="newTeam.players"></label>
                <select name="newTeam.players" id="newTeam.players">
                    <option value="">Players...</option>
                    @for(player of newTeam.players; track $index){
                        <option value="{{player.firstName}} {{player.lastName}}">{{player.firstName}} {{player.lastName}}</option>
                    }
                </select>
        
                <label for="newTeam.coaches"></label>
                <select name="newTeam.coaches" id="newTeam.coaches">
                    <option value="">Coaches...</option>
                    @for(coach of newTeam.coaches; track $index){
                        <option value="{{coach.firstName}} {{coach.lastName}}">{{coach.firstName}} {{coach.lastName}}</option>
                    }
                </select>

                <p class="staticSection">Player Post Transfer: </p>
                <p>Name: {{player.firstName}} {{player.lastName}}</p>
                <p>Age: {{player.age}}</p>
                <p>Position: {{player.position}}</p>
            </form>
        </div>
    </article>

    <div class="buttonBlock">
        <button (click)="changeTeam()">Confirm Transfer</button>
    </div>
</main>