input{
    display: block;
    width: 150px;
}

select{
    display: block;
    width: 158px;
    height:20px
}

.center1{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0% 10%;
}

.center{
    text-align: center;
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: bold;
}

.flexboxy{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

img{
   max-width: 100%;
   max-height: 100%;
}

.left, .right{
    width: 30%;
}

.buttonBlock{
    display: block;
    margin: auto;
    margin-top: 10px;
}

.buttonBlock>button{
    display: block;
    margin: auto;
    margin-top: 5px;
}

.error{
    font-size: 18px;
    font-weight: bold;
    color:red;
}
