<main>
    <div class="flexboxy">
        <div class="left">
            <img src="https://t3.ftcdn.net/jpg/00/80/91/90/360_F_80919035_azxWtxlPGtQF13oW5kNFQCaAvkd789xY.jpg" alt="hockey player">
        </div>

        <div class="center1">
            <div class="center">Create New Player:</div>
            <form>
                <label for="player.firstName">First Name: </label>
                <input type="text" name="player.firstName" id="player.firstName" [(ngModel)]="player.firstName">

                <label for="player.lastName">Last Name: </label>
                <input type="text" name="player.lastName" id="player.lastName" [(ngModel)]="player.lastName">

                <label for="player.age">Age: </label>
                <input type="number" name="player.age" id="player.age" [(ngModel)]="player.age">

                <label for="player.position">Position: </label>
                <select name="player.position" id="player.position" [(ngModel)]="player.position">
                    <option value="" selected="selected">Positions...</option>
                    <option value="Center">Center</option>
                    <option value="Right Wing">Right Wing</option>
                    <option value="Left Wing">Left Wing</option>
                    <option value="Right Defenseman">Right Defenseman</option>
                    <option value="Left Defenseman">Left Defenseman</option>
                    <option value="Goalie">Goalie</option>
                </select>

                <label for="player.teamname">Team: </label>
                <select name="player.teamname" id="player.teamname" [(ngModel)]="player.teamname">
                    <option value="" selected="selected">Team...</option>
                    @for(team of teamList; track $index){
                        <option value="{{team.teamName}}">{{team.teamName}}</option>
                    }
                </select>
            </form>
        </div>

        <div class="right">
            <img src="https://t3.ftcdn.net/jpg/00/80/91/90/360_F_80919035_azxWtxlPGtQF13oW5kNFQCaAvkd789xY.jpg" alt="hockey player">
        </div>
    </div>

    <div class="buttonBlock">
        <button type="button" (click)="createPlayer()">Create</button>
        <button (click)="resetPage()">Reset</button>
    </div>

    @if(errorCreate){
        <p class="error">*A Player with this name already exists!</p>
    }
</main>
