pre{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    border: solid;
    border-width: 1px;
    margin:0px;
    width: 641.5px;
    font-size: 15px;
}