<main>
    <label for="teamSelected"></label>
    <select name="teamSelected" id="teamSelected" [(ngModel)]="teamSelected">
        <option value="" selected="selected">teams...</option>
        @for(team of teamNames; track $index){
            <option value={{team}}>{{team}}</option>
        }
    </select>
    <pre>             ID              |   First Name     |    Last Name     |           Age            |          Role            |          Team</pre>
    <div>
        @for(coach of coaches; track $index){
            @if(coach.teamname === teamSelected){
                <app-coach [coach]="coach"
                            (updateCoachEvent)="updateCoach($event, $index)"
                            (deleteCoachEvent)="deleteCoach($event, $index)"></app-coach>
            }
        }
    </div>
    <a routerLink="new_coach"> Add Coach </a>
</main>
