.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label{
    font-size: 18px;
}

p{
    margin-top: 25px;
    font-size: 20px;
    font-weight: 500;
}

input{
    width: 200px;
}

select{
    width:207px;
    height:22px;
}

.top, .bottom{
    display: flex;
    justify-content: space-between;
}

.left, .right{
    display: inline-block;
    border-style: solid;
    width: 40%;
    height:150px;
}

.left{
    background-color: rgb(159, 194, 224);
}

.right{
    background-color: rgb(200, 131, 131);
}

.right>p, .left>p{
    text-align: center;
    font-size: 18px;
    font-weight: 550;
    margin:3px 0px 10px 0px;
}

form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.buttonBlock{
    display: block;
    margin: auto;
    margin-top: 10px;
}

.buttonBlock>button{
    display: block;
    margin: auto;
    margin-top: 5px;
}

.error{
    font-size: 18px;
    font-weight: bold;
    color:red;
}
