<main>
    <form>
        <label for="player.id"></label>
        <input type="number" name="player.id" id="player.id" [(ngModel)]="player.id">

        <label for="player.firstName"></label>
        <input type="text" name="player.firstName" id="player.firstName" [(ngModel)]="player.firstName">

        <label for="player.lastName"></label>
        <input type="text" name="player.lastName" id="player.lastName" [(ngModel)]="player.lastName">

        <label for="player.age"></label>
        <input type="number" name="player.age" id="player.age" [(ngModel)]="player.age">

        <label for="player.position"></label>
        <input type="text" name="player.position" id="player.position" [(ngModel)]="player.position">

        <label for="player.teamname"></label>
        <input type="textName" name="player.teamname" id="player.teamname" [(ngModel)]="player.teamname">
    </form>

    <button type="button" (click)="updatePlayer()">Update</button>
    <!-- <button type="button" (click)="resetPlayer()">Reset</button>
    <button type="button" (click)="deletePlayer()">Delete</button> -->
</main>
