input{
    display: block;
    width: 150px;
}

select{
    display: block;
    width: 158px;
    height:20px
}

.center1{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0% 10%;
}

.center{
    display: block;
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: bold;
}

.normal{
    padding:0px;
    margin:0px;
    height:20px;
    border-style: solid;
    border-width: .25px;
    font-size: 15px;
    display: block;
    width: 158px;

}

.flexboxy{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

img{
    max-width: 100%;
    max-height: 100%;
 }
 
 .left, .right{
     width: 20%;
 }
 
 .buttonBlock{
    display: block;
    margin: auto;
    margin-bottom: 200px;
}

.buttonBlock>button{
    display: block;
    margin: auto;
    margin-top: 5px;
}

.error{
    font-size: 18px;
    font-weight: bold;
    color:red;
}

.errorMsg1{
    display:none;
    border:0px;
    margin:2px;
    font-size: 18px;
    font-weight: bold;
}

.normal:hover + .errorMsg1{
    display: flex;
    position: absolute;
    left:41%;
    top:65%;
    color:red;
}
